<main class="page addmember-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Thêm quản trị viên</h2>
            </div>
            <form action="/login" method="post">
                <div class="mb-3">
                    <% if (messages) { %>
                        <p style="color: red; font-size: 15px;"> <%= messages %> </p>
                    <% } %> 
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control item" type="email" id="email" name="email"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Tên đăng nhập</label><input class="form-control" type="username" name="username"
                        id="password" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Số điện thoại</label><input class="form-control" type="phone" name="phone"
                        id="password" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mật khẩu</label><input class="form-control" type="password" name="password"
                        id="password" />
                </div>
                <div class="mb-3">
                  
                </div>
                <div>
                    <button class="btn btn-login" type="submit">Thêm</button>
                </div>
            </form>
        </div>
    </section>
</main>