<main class="page addmember-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Thêm quản trị viên</h2>
            </div>
            <form  method="post">
                <div class="mb-3">
                    <% if (messages) { %>
                        <p style="color: red; font-size: 15px;"> <%= messages %> </p>
                    <% } %> 
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control item" type="email" id="email" readonly="" onfocus="this.removeAttribute('readonly');" name="email"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Họ và tên</label><input class="form-control" readonly="" onfocus="this.removeAttribute('readonly');"  name="username"
                        id="username" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Số điện thoại</label><input class="form-control" readonly="" onfocus="this.removeAttribute('readonly');"  name="phone"
                        id="phone" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mật khẩu</label><input class="form-control" readonly="" onfocus="this.removeAttribute('readonly');" type="password" name="password"
                        id="password" />
                </div>
                <div class="mb-3">

                </div>
                <div>
                    <button class="btn btn-login" type="submit">Thêm</button>
                </div>
            </form>
        </div>
    </section>
</main>