<main class="page manager-page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Quản lý thành viên</h2>
            </div>


            <div class="container-center ">
                
                <div class="row">
                    <div class="col text-center">
                      <button class="btn btn-primary btn-small mb-3">Thêm thành viên</button>
                    </div>
                  </div>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>

                                <th scope="col">ID</th>
                                <th scope="col">TÊN NGƯỜI DÙNG</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">PHÂN QUYỀN</th>
                                <th scope="col">TỔNG BÀI ĐĂNG</th>
                                <th scope="col">TRẠNG THÁI</th>
                                <th scope="col">SỐ TIỀN TRONG TÀI KHOẢN</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td >10001</td>
                                <td class="tm-product-name">Đinh Hà Hồng Thông</td>
                                <td>LosAngeles@edu.vn</td>
                                <td>Siêu admin</td>
                                <td>15</td>
                                <td>đang hoạt động</td>
                                <td>1.000.000</td>
                                <td>
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
    </section>

</main>