<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Về bạn</h5>
                <ul>
                    <li><a href="#">Tài khoản</a></li>
                    <li><a href="#">Thông tin cá nhân</a></li>
                    <li><a href="#">Đổi mật khẩu</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Liên hệ</h5>
                <ul>
                    <li><a href="#">0907944628</a></li>
                    <li><a href="#">43, Trần Văn Ơn, Phú Hòa, Thủ Dầu Một, Bình Dương</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Điều khoản</h5>
                <ul>
                    <li><a href="#">Phản hồi</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Nguyên tắc cộng đồng</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sơ lược</h5>
                <ul>
                    <li><a href="#">Website TDMU được thiết kế đưa vào hoạt động trong tháng 11/2021 nhằm phục vụ nhu cầu tìm và cho thuê phòng ở khu vực</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 11/2021 - Nhóm đồ án chuyên ngành</p>
    </div>
</footer>