<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo" href="#"><i class="fa fa-home" aria-hidden="true"></i> TDMU Motel</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Trang Chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="catalog-page.html">Tìm Phòng</a></li>
                <li class="nav-item"><a class="nav-link" href="about">Giới Thiệu</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="login">Đăng nhập</a></li>
                <li class="nav-item"><a class="nav-link" href="registration.html">Đăng ký</a></li>
            </ul>
        </div>
    </div>
</nav>