<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Giới thiệu</h2>
                <p> Các thành viên chính của trang </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="img/avatars/thong.jpeg">
                        <div class="card-body info">
                            <h4 class="card-title">Nguyễn Minh Thông</h4>
                            <p class="card-text">Đại học Thủ Dầu Một - D18HT02</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/img/avatars/nghia.jpeg">
                        <div class="card-body info">
                            <h4 class="card-title">Phạm Minh Nghĩa</h4>
                            <p class="card-text">Đại học Thủ Dầu Một - D18HT02</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="img/avatars/luu.jpeg">
                        <div class="card-body info">
                            <h4 class="card-title">Nguyễn Luân Lưu</h4>
                            <p class="card-text">Đại học Thủ Dầu Một - D18HT02</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="img/avatars/phan.jpeg">
                        <div class="card-body info">
                            <h4 class="card-title">Hà Trọng Phan</h4>
                            <p class="card-text">Đại học Thủ Dầu Một - D18HT02</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="img/avatars/nam.jpeg">
                        <div class="card-body info">
                            <h4 class="card-title">Nguyễn Trần Hồng Nam</h4>
                            <p class="card-text">Đại học Thủ Dầu Một - D18HT02</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="img/avatars/toi.jpeg">
                        <div class="card-body info">
                            <h4 class="card-title">Đinh Thị Kim Tới</h4>
                            <p class="card-text">Đại học Thủ Dầu Một - D18HT02</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>