<main class="page changepassword-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Đổi mật khẩu</h2>
        </div>
        <form action="/changepassword" method="post">
          <div class="mb-3">
            <label class="form-label" for="name">Nhập mật khẩu hiện tại</label
            ><input class="form-control item" type="password" id="currentpassword" name="currentpassword"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Nhập mật khẩu mới</label
            ><input class="form-control item" type="password" id="newpassword" name="newpassword"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Nhập lại mật khẩu mới</label
            ><input class="form-control item" type="password" id="reenterpassword" name="reenterpassword"/>
          </div>
          <button class="btn btn-gg-login" type="submit">Thay đổi</button>
        </form>
      </div>
    </section>
  </main>
  