<main class="page changepassword-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Đổi mật khẩu</h2>
      </div>
      <form action="/change-password" method="post">
        <div class="mb-3">
          <% if (messages) { %>
            <p style="color: red; font-size: 15px;"> <%= messages %> </p>
        <% } %> 
          <label class="form-label" for="email">Email</label
          ><input class="form-control item" type="email" id="email" name="email" value=<%= user.local.email %> readonly="readonly"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="name">Nhập mật khẩu hiện tại</label
          ><input class="form-control item" type="password" id="currentpassword" readonly="" onfocus="this.removeAttribute('readonly');" name="currentpassword"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Nhập mật khẩu mới</label
          ><input class="form-control item" type="password" id="newpassword" readonly="" onfocus="this.removeAttribute('readonly');" name="newpassword"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Nhập lại mật khẩu mới</label
          ><input class="form-control item" type="password" id="reenterpassword" readonly="" onfocus="this.removeAttribute('readonly');" name="reenterpassword"/>
        </div>
        <button class="btn btn-gg-login" type="submit">Thay đổi</button>
      </form>
    </div>
  </section>
</main>
  