<main class="page intropay-page" style="background-image:url(&quot;img/-min.jpg&quot;);color:rgba(9, 161, 255, 0.301); background-size: cover;">
    <section class="u-align-right u-clearfix u-image u-shading u-section-1" id="carousel_31f2" data-image-width="1920" data-image-height="790">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-border-2 u-border-white u-container-style u-expanded-width-xs u-group u-opacity u-opacity-15 u-group-1">
            <div class="u-container-layout u-container-layout-1" style="background: rgba(109, 110, 110, 0.4); ">
              <h6 class="u-align-left u-custom-font u-text u-text-font u-text-1">trả phí bài đăng </h6>
              <h1 class="u-align-justify u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-2">
                <span style="font-size: 1.125rem; ">Chức năng trả​ phí bài đăng cho phép bài đăng của bạn hiện lên đầu trang đề người tim có thể nhìn thấy nó ngay khi vừa vào trang.&nbsp;</span>
                <br>
              </h1>
              <a href="/Payment/pay?amount=100000" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">Đăng ký</a>
            </div>
          </div>
        </div>
      </section>
      
</main>