<main class="page registration-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
              <h2 class="text-info">Quy tắc bài đăng</h2>
                
        </div>
                <div class="modal-body">
                  <div class="form-group">
                    <p>1. Nội dung đăng bài phải đầy đủ, đúng thực tế.</p>
                    <p>2. Không được đăng bán hàng, tuyển dụng, nội dung không liên quan.</p>
                    <p>3. Các bài viết phải viết bằng tiếng Việt có dấu, không dùng ngôn ngữ, ký hiệu để viết bài.</p>
                    <p>4. Không post các nội dung (bài viết, hình ảnh, âm thanh, video, link kèm theo…) liên quan đến đồi truỵ, 18+, các bài viết có nội dung phản động, các bài viết vi phạm thuần phong mỹ tục Việt Nam.</p>
                    <p>5. Bài viết vi phạm sẽ không được duyệt và bị cấm đăng bài vĩnh viễn.</p>
                    <p>6. Khi đăng bài bạn bắt buộc đọc và đồng ý với mọi quy định trên mới được duyệt bài.</p>
                    
                  </div>
                </div>
                <div class="text-right mt-3" style="padding-bottom: 10px">
                </div>
    </div>
    </section>
  </main>