<main class="page resetpassword-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Khôi phục mật khẩu</h2>
            </div>
            <form action="/reset-password" method="post">
                <div class="mb-3">
                    <% if (messages) { %>
                        <p style="color: blue; font-size: 15px;"> <%= messages %> </p>
                    <% } %> 
                    <label class="form-label" for="email">Nhập Email để khôi phục</label>
                    <input class="form-control item" type="email" id="email" name="email"  />
                </div>

                <div>
                    <button class="btn btn-login" type="submit">Xác minh</button>
                </div>
            </form>
        </div>
    </section>
</main>