<main class="page resetpassword-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Khôi phục mật khẩu</h2>
            </div>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control item" type="email" id="email" name="email" placeholder="1824801040107@student.tdmu.edu.vn"/>
                </div>
                <div class="mb-3">
                    <p style="text-align: justify;">Một mã khôi phục đã được gửi về email của của bạn. Vui lòng kiểm tra email và mật mã đăng nhập để khôi phục lại mật khẩu</p>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="codereset">Mã khôi phục</label><input class="form-control" name="codereset"
                        id="codereset" />
                </div>

                <div>
                    <button class="btn btn-login" type="submit">Xác minh</button>
                </div>
            </form>
        </div>
    </section>
</main>